{% extends "layout.html.twig" %}

{% block page_name %}{{ lang('create_user_heading') }}{% endblock %}

{% block body %}

    <p>{{lang('create_user_subheading') }}</p>

    {{form_open("create-user") }}
    <fieldset>
        
        <div class="form-group">
            {{lang('create_user_fname_label', 'first_name') }} <br />
            {{form_input(first_name) }}
        </div>

        <div class="form-group">
            {{lang('create_user_lname_label', 'last_name') }} <br />
            {{form_input(last_name) }}
        </div>

        <div class="form-group">
            {{lang('create_user_company_label', 'company') }} <br />
            {{form_input(company) }}
        </div>

        <div class="form-group">
            {{lang('create_user_email_label', 'email') }} <br />
            {{form_input(email) }}
        </div>

        <div class="form-group">
            {{lang('create_user_phone_label', 'phone') }} <br />
            {{form_input(phone) }}
        </div>

        <div class="form-group">
            {{lang('create_user_password_label', 'password') }} <br />
            {{form_input(password) }}
        </div>

        <div class="form-group">
            {{lang('create_user_password_confirm_label', 'password_confirm') }} <br />
            {{form_input(password_confirm) }}
        </div>

        <p>{{form_submit('submit', lang('create_user_submit_btn'), 'class="btn btn-lg btn-success btn-block"') }}</p>
        
    </fieldset>
    {{form_close() }}
{% endblock %}
