{% extends "layout.html.twig" %}

{% block page_name %}{{ lang('edit_user_heading') }}{% endblock %}

{% block body %}

    <p>{{lang('edit_user_subheading') }}</p>

    {{form_open(uri_string()) }}
    <fieldset>

        <div class="form-group">
            {{lang('edit_user_fname_label', 'first_name') }} <br />
            {{form_input(first_name) }}
        </div>

        <div class="form-group">
            {{lang('edit_user_lname_label', 'last_name') }} <br />
            {{form_input(last_name) }}
        </div>

        <div class="form-group">
            {{lang('edit_user_company_label', 'company') }} <br />
            {{form_input(company) }}
        </div>

        <div class="form-group">
            {{lang('edit_user_phone_label', 'phone') }} <br />
            {{form_input(phone) }}
        </div>

        <div class="form-group">
            {{lang('edit_user_password_label', 'password') }} <br />
            {{form_input(password) }}
        </div>

        <div class="form-group">
            {{lang('edit_user_password_confirm_label', 'password_confirm') }}<br />
            {{form_input(password_confirm) }}
        </div>

        {% if is_admin() %}
            <h3>{{lang('edit_user_groups_heading') }}</h3>
            {% for group in groups %}
                <div class="form-group">
                    {% set gID = group.id %}
                    {% set checked = null %}
                    {% set item = null %}

                    {% for grp in currentGroups if gID == grp.id %}
                        {% set checked = 'checked="checked"' %}
                    {% endfor %}

                    <input type="checkbox" name="groups[]" value="{{group['id'] }}"{{checked }}>
                    {{ group.name |escape }}
                </div>
            {% endfor %}
        {% endif %}

        {{form_hidden( {'id': user.id} ) }}
        {{form_hidden( csrf )}}

        <p>{{form_submit('submit', lang('edit_user_submit_btn'), 'class="btn btn-lg btn-success btn-block"') }}</p>

    </fieldset>
    {{form_close() }}
{% endblock %}