{% extends "auth-layout.html.twig" %}

{% block page_name %}{{ lang('forgot_password_heading') }}{% endblock %}

{% block body %}
    <div class="panel-body">

        {% if message %}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ message }}
            </div>
        {% endif %}

        <p>{{sprintf(lang('forgot_password_subheading'), identity_label) }}</p>

        {{form_open("forgot-password") }}
        <fieldset>

            <div class="form-group">
                <label for="email">{{sprintf(lang('forgot_password_email_label'), identity_label) }}</label> <br />
                {{form_input(email) }}
            </div>

            <p>{{form_submit('submit', lang('forgot_password_submit_btn'), 'class="btn btn-lg btn-success btn-block"') }}</p>

        </fieldset>
        {{form_close() }}
    </div>
{% endblock %}