{% extends "layout.html.twig" %}

{% block body %}
    <h1>{{ lang('index_heading') }}</h1>
    <p>{{ lang('index_subheading') }}</p>

    <div id="infoMessage">{{ message }}</div>

    <table cellpadding=0 cellspacing=10>
        <tr>
            <th>{{ lang('index_fname_th') }}</th>
            <th>{{ lang('index_lname_th') }}</th>
            <th>{{ lang('index_email_th') }}</th>
            <th>{{ lang('index_groups_th') }}</th>
            <th>{{ lang('index_status_th') }}</th>
            <th>{{ lang('index_action_th') }}</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.first_name|escape }}</td>
                <td>{{ user.last_name|escape }}</td>
                <td>{{ user.email|escape }}</td>
                <td>
                    {% for group in user.groups %}

                        {{ anchor("auth/edit_group/"~group.id, group.name|escape )  }}<br />
                    {% endfor %}
                </td>
                <td>
                    {% if user.active%}
                        {{ anchor("auth/deactivate/"~user.id,  lang('index_active_link')) }}
                    {% else %}
                        {{ anchor("auth/activate/"~user.id,  lang('index_inactive_link')) }}
                    {% endif %}
                </td>

                <td>{{ anchor("auth/edit_user/"~user.id, 'Edit') }}</td>
            </tr>
        {% endfor %}
    </table>

    <p>{{ anchor('auth/create_user', lang('index_create_user_link')) }} | {{ anchor('auth/create_group', lang('index_create_group_link')) }}</p>
{% endblock %}